@using GaleriaArteFrontend.Layout
@inherits LayoutComponentBase

<div class="main-layout">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    // Puedes agregar lógica de layout aquí si es necesario
}
